@model IEnumerable<SurveyBase1.Models.Survey>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SurveyID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SurveyStartDateTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrganizationID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SurveyID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SurveyStartDateTime)
        </td>
    </tr>
}

</table>
